body {
    margin: auto;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Remember Me!!! */
code {
    font-family: "Julius Sans One", sans-serif;
}
